.App {
    text-align: center;
    background-color: black;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .carousel-image {
    width: 100%;
    height: auto;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #000;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li {
    cursor: pointer;
  }
  
  footer {
    padding: 20px;
    background-color: #000;
  }
  